<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

		<!-- Tags Obrigatórias -->		
		<link rel="shortcut icon" href="../Imagens/Logo2.png"/><title>Painel do Administrador - Boss Solutions</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	
	<body>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
		
		<!-- Menu do site-->
		<div class="header">
			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A7A7A7">
				<a class="navbar-brand">
					<img src="../Imagens/Logo.png" width="200" height="100" alt="Logotipo">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="true" aria-label="Alterna navegação">
					<span class="navbar-toggler-icon"></span>
				</button>
                <div class="collapse navbar-collapse" id="textoNavbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
							<a class="nav-link disabled">Página do Administrador</a>
						</li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="index.html">
                        <button class="btn btn-outline-danger my-sm-1" type="submit">Sair</button>
                    </form>
                </div>
			</nav>	
		</div>
              
        <br>
        <div class="container-fluid justify-content-center">
            <div class="row">
               <div class="col-md-4">
                    <div class="texto">
                        <p>Listar Serviços</p>
                        <form action="Analise.php">
                            <button type="submit" class="btn btn-primary btn-lg">Em Análise</button>
                        </form>
                        <br>
                        <form action="Servico.php">
                            <button type="submit" class="btn btn-primary btn-lg">Em Serviço</button>
                        </form>
                        <br>
                        <form action="Concluido.php">
                            <button type="submit" class="btn btn-primary btn-lg">Concluídos</button>
                        </form>
                    </div>   
                </div>

                <div class="col-md-4">
                    <div class="texto">
                      <p>Atualizar Situação</p>
                    </div>
                    <div class="contato text-center d-flex justify-content-center">
                        <form action="../controllers/atualizar_ordem.php" method="POST">
                            <div class="form-group">
                                <label class="pb-2" for="inputOrdem">Ordem de Serviço</label>
                                <input id="inputOrdem" name="ordem_servico" type="text" class="form-control" maxlenght="15"/>
                            </div>

                            <div class="form-group mt-5">
                                <label class="pb-2" for="inputSituacao">Situação</label>
                                <select name="situacao" id="inputSituacao" class="form-control">
                                    <option selected>Escolha</option>
                                    <option value="Em Análise">Em Análise</option>
                                    <option value="Em Serviço">Em Serviço</option>
                                </select>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg">Atualizar</button>
                        </form>
                    </div>
                </div>

                <div class="center col-md-4">
                    <div class="texto">
                        <p>Concluir Serviço</p>
                    </div>
                    <div class="contato text-center d-flex justify-content-center">
                        <form action="Concluir.php" method="post">
                            <div class="form-group">
                                <label class="pb-2" for="inputOrdem">Ordem de Serviço</label>
                                <input id="inputOrdem" name="ordem_servico" type="text" class="form-control" maxlenght="11"/>
                            </div>
                            <div class="form-group mt-5">
                                <label class="pb-2" for="inputValor">Valor</label>
                                <input id="inputValor" name="valor" type="text" class="form-control" maxlenght="15"/>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg">Atualizar</button>
                        </form>
                    </div>    
                </div>
            </div>
        </div>

        
        <!-- Rodapé -->
		<footer class="footer">
			<div class="container">
				© 2019 Copyright: Boss Solutions | contato@boss.com.br | Fone: (11)5562-4859
			</div>
		</footer>

		<!-- JavaScript para agilizar carregamento do código -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>